/* Write your CSS here */
.header-container {
  background-color: #cbd5e1;
  text-align: center;
  margin: 5%;
  margin-bottom: 5px;
}
.header-heading {
  margin: 0px;
  color: #475569;
  padding: 2%;
}
